* {
    padding: 0;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 17px;
    line-height: 1.42;
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}


li {
    list-style: none;
}

.wrapper{
    height: 100%;
}

.container {
    width: 605px;
    height: 450px;
    margin: 10% auto;
    vertical-align: middle;
}

.form__header {
    background: #fff;
    border-bottom:  2px solid black;
}

.req {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: red
}

.form__line{
    margin: 20px 0;
}

.form__group{
    display: inline-block;
}


.form__label {
    width: 100px;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
}

.input{
    width: 265px;
    height: 38px;
    border: 2px solid #8d8d8e;
    border-radius: 5px;
    vertical-align: middle;
}

input[value="Submit"] {
    font-weight: 600;
}

.main__content textarea {
    width: 300px;
    height: 90px;
    border: 2px solid #8d8d8e;
    border-radius: 5px;
    vertical-align: top;
    resize: none;
}

.button {
    background: #F4F4F4;
    width: 115px;
    height: 35px;
    border: 2px solid 8d8d8e;
    border-radius: 5px;
    margin-left: 60px;

}

.hint {
    /*border: 1px solid black;*/

    background: #D45252;
    width: 130px;
    height: 25px;
    position: relative;
    display: inline-block;
    top: -2px;
    left: 50px;

}

.hint__text {
    color: white;
    text-align: center;
    font-size: 	14px;
    line-height: 25px;
}

.triangle{
    border-top: 6px solid transparent;
    border-right: 6px solid #D45252;
    border-bottom: 6px solid transparent;
    border-left: 0px solid transparent;
    height: 0px;
    width: 0px;
    position: absolute;
    right: 	100%;
    top: 7px
}