
.wrapper {
    display: flex;
    flex-direction: row;
}

.main-section {
    display: flex;
    height: 90vh;
}

.sidebar {
    width: 370px;
    display: flex;
    flex-direction: column;
}


.stuff{
    min-width: 75vw;
}