.wrapper {
    /*border: 1px solid fuchsia;*/
}

.footer {
    /*border: 1px solid rosybrown;*/
}


.sidebar {
    background: #F5F5F5;
    border-right: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
    padding-left: 40px;
}

.sidebar-header {
    margin-bottom: 30px;
}

.sidebar__content {
    margin-top: 60px;
}

.sidebar__title {
    text-transform: uppercase;
    font-weight: bold;
}

.sidebar-nav__item {
    padding: 10px 0;
}

.sidebar-nav__link{
    color: #adabab;
}

.stuff {
    overflow: auto;
    border-bottom: 2px solid darkgrey;
}

.stuff-section {
    padding: 0 50px;
}

stuff-section-body {
    margin-bottom: 40px;
}

.stuff-section__date {
    margin-top: 70px;
    color: #adabab;
}

.stuff-section-article {
    border-bottom: 20px solid #999999;
    padding-bottom: 30px;
}
.description-left{
    margin-right: 50px;
}

.description-left__item{
    border-top: 2px solid #999999;
}

.description-left__item:last-child {
    border-bottom: 2px solid #999999;
}

.description-left__text {
    text-align: left;
    color: #999999;
    text-transform: uppercase;
    padding-left: 10px ;
}

.description-right__pic{
    background: #F5F5F5 ;
    margin-bottom: 100px;
}

.description-right {
    margin-top: 30px;
}

.description-right__pic-name {
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.description-right__text {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.footer__right{
    -ms-text-align-last: right;
    text-align: right;
}

.socials__list{
    text-align: left;
}