.wrapper {
    display: flex;
    flex-direction: column;
    height: 990px;
    width: 100vw - 1px;
}

.header {
    display: flex;
    width: 100%;
    /*justify-content: flex-end;*/
    flex-direction: row-reverse;
}

.user {
    display: flex;
}
.support__list{
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
}


.aside-wrap {
    display: flex;
    min-width: 200px;
}

.aside{
    width: 100%;
}

.nav__list {
    display: flex;
    flex-direction: column;
}

.history {
    display: flex;
    flex-direction: column;
}

.history__item {
    
}

.main-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}