html, body{
    font-family: "ProximaNova Regular", "Fira Sans", Arial;
    font-size: 16px;
}

ul,li, a {
    list-style: none;
}

a {
    text-decoration: none;
}


.header{
    height: 45px;
    min-height: 45px;
    background: #333a4e;
    align-items: center;
}

.user{
    background: #23a7f7;
    min-width: 158px;
    height: 45px;
}

.user__ava {
    width: 32px;
    height: 32px;
    border: 1px solid white;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    margin: 5px 12px;
}

.user__ava-pic {
    max-width: 33px;
    max-height: 33px;
    display: block;
}

.user__name {
    line-height: 45px;
    position: relative;
    color: white;
}

.user__name  i {
    color: white;
    position: absolute;
    top: 14px;
    left: 75px;
}
.aside {
    background: #1e2536;
    /*background: #dcdae8;*/
}
.book-adder{
    height: 114px;
    background-color: #1e2535;
    width: 100%;
    border-bottom: 1px solid #131724;
}

.book-adder__button {
    height: 44px;
    width: 160px;
    margin: 35px 20px;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    background: #f2795a;
    border: none;
}

.book-adder__button_text{
    margin-left: 15px;
    font-weight: bold;
}

/*region  Navigation*/
.nav {
    width: 100%;
    background-color: #1e2535;
    padding-bottom: 10px;
    border-top: 1px solid #414b60;
    border-bottom: 1px solid #131724;
    margin-top: 4px;
}

.nav__list {
    margin: 0;
    padding: 0;
}

.nav__item {
    padding: 10px 0 10px 20px;
}

.nav__link {
    font-size: 13px;
    font-weight: bold;
    color: #737d98;
    text-decoration: none;
    width: 100%;
}

.nav__link i {
    padding-right: 13px;
}

.nav__item:hover {
    background: #23a7f7;
}

.nav__item:hover .nav__link{
    color: white;
}
/*endregion*/

/*region Categories*/
.categories {
    width: 100%;
    background-color: #1e2535;
    border-top: 1px solid #414b60;
    border-bottom: 1px solid #131724;
    margin-top: 4px;
    padding: 9px 0;
}

.categories__list {
    margin: 0;
    padding: 0;
}

.categories__item {
    padding: 13px 0 13px 33px;
    position: relative;
}

.categories__link {
    padding: 13px;
    font-size: 13px;
    font-weight: bold;
    color: #737d98;
}

.categories__link > i {
    position: absolute;
    top: 20px;
    left: 23px;
    font-size: 6px;
}

.categories__item:hover {
    background: #23a7f7;
}

.categories__item:hover .categories__link{
    color: white;
}

.categories__item:nth-child(1) i{color: #e64c66}
.categories__item:nth-child(2) i{color: #ffab00}
.categories__item:nth-child(3) i{color: #00bfdd}
.categories__item:nth-child(4) i{color: #7874cf}
/*endregion*/

.history {
    width: 200px;
    background-color: #1e2535;
    padding-top: 38px;
    padding-bottom: 10px;
    border-top: 1px solid #414b60;
    border-bottom: 1px solid #131724;
    margin-top: 4px;
    height: 348px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.history__item {
    margin: 0 26px 20px 46px;
    position: relative;
}

.history__item i {
    position: absolute;
    top: 5px;
    left: -30px;
    color: #737d98;
}

.history__text {
    margin: 0;
    font-size: 12px;
    color: #737d98;
    text-align: justify;
}
.history__time {
    margin: 0;
    font-size: 12px;
    color: #737d98;
}

.history__item_film-link,
.history__item_author-link,
.history__item_mr-link {
    font-size: 13px;
    font-weight: bold;
    color: #677b92;
}

