body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    color: #2c3e50;
    font-family: "PT Sans";
}

.wrapper {
    overflow: hidden;
    min-width: 600px;
    position: relative;
}

.container {
    margin: 0 auto;
    width: 500px;
    padding-top: 50px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

/* --------- acco --------- */
.acco__trigger {
    display: block;
    background: #16a085;
    color: #ecf0f1;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
}

.acco__content {
    /*display: none;*/
    /*visibility: hidden;*/
   max-height: 0;
    /*height: 0;*/
    overflow: hidden;
    transition: .5s;
}

.acco__content-text {
    padding: 10px;
    border: 2px dashed #bdc3c7;
}

.acco__item {
    margin-bottom: 10px; }
.acco__item.active .acco__trigger {
    background: #9b59b6;
}

.test-link {
    color: green;
}

.block {
    width: 100px;
    height: 200px;
    background: red;
}